.container {
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #f40404;
    border-radius: 5px;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    margin-bottom: 25px;
  }
  
  label {
    font-weight: bold;
  }
  
  input {
    padding: 8px;
    border-radius: 3px;
    border: 1px solid #ccc;
  }
  
  button {
    padding: 10px;
    background-color: #ffc400;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #000000;
  }
  